@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --element-bg-color: hsl(0, 0%, 100%);
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.dark-theme {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 100%);
  --element-bg-color: hsl(209, 23%, 22%);
  --shadow-color: hsla(0, 0%, 98%, 0.138);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5vw;
  min-height: 10vh;
  background-color: var(--element-bg-color);
  color: var(--text-color);
}

.header a {
  font-size: 1.5rem;
  font-weight: bold;
}

.mode-div {
  display: flex;
  align-items: center;
}

.mode-div button {
  border: none;
  outline: none;
  background-color: var(--element-bg-color);
  color: var(--text-color);
  padding: 5px;
  cursor: pointer;
}

.main-section {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0 5vw;
}



.search-box {
  display: flex;
  align-items: center;
  position: relative;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  min-height: 20vh;
}

.search-box input {
  padding: 12px 50px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 3px;
  background-color: var(--element-bg-color);
  color: var(--input-color);
  box-shadow: 0 1px 1px 0 var(--shadow-color);
}

.search-icon {
  position: absolute;
  margin: 0 15px;
}

.filter-box {
  display: flex;
  column-gap: 30px;
}

.region-filter select,
.subregion-filter select,
.sort-filter select,
.order-filter select {
  padding: 12px 5px 12px 5px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: var(--element-bg-color);
  color: var(--text-color);
  font-size: 14px;
  box-shadow: 0 1px 1px 0 var(--shadow-color);
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 5.66vw;
  padding-bottom: 70px;
  row-gap: 70px;
  min-height: 70vh;
}

.country-card {
  display: flex;
  flex-direction: column;
  background-color: var(--element-bg-color);
  width: 18vw;
  min-height: 320px;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 var(--shadow-color);

}


.country-card img {
  height: 165px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.country-card-details {
  padding: 20px 20px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.country-card-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.country-card-details span {
  font-weight: bold;
}

.country-card-details p {
  font-size: 14px;
}

.loading-text,
.no-match-text,
.fail-text,
.page-not-found-txt {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding-top: 20vh;
  height: 70vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.page-not-found-txt {
  height: 90vh;
}


.back-button-div {
  background-color: var(--background-color);
  padding: 50px 5vw;
  min-height: 20vh;
}

.back-button {
  width: 110px;
  padding: 8px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: var(--element-bg-color);
  color: var(--text-color);
  box-shadow: 0 1px 2px 0 var(--shadow-color);
  border-radius: 5px;
}

.country-details-page {
  padding: 0 5vw;
  display: flex;
  column-gap: 70px;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 70vh;
}

.country-flag {
  width: 50%;
}

.country-flag img {
  width: 90%;
  max-height: 400px;
}

.country-more-details {
  width: 50%;
  padding: 30px 0 30px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.country-name {
  font-size: 2rem;
  font-weight: bold;
}

.country-details {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.row1,
.row2 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 50%;
}

.country-details span {
  font-weight: 700;
}

.border-country-details {
  display: flex;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}

.border-country-details p {
  font-weight: bold;
  width: 150px;
  position: relative;
  top: 8px;
}

.bCountry {
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 var(--shadow-color);
  margin-bottom: 20px;
  background-color: var(--element-bg-color);
  color: var(--text-color);

}